
.container {
    display: grid;
    justify-items: stretch;
    height: 80vh;
    width: 80vw;
    justify-self: center;
    border-color: black;
    border-style: solid;
}
.sketched {
    background-color: black
}